<!doctype html>
<html lang="es">

    <%-include('../headerGeneral');%> 

<body>
    <%-include('../menus/MenuLaborotorista');%>
    <h2>Seleccione una consulta</h2>
    <br>
    <br>
    <div class="container">
        <div class="lista">
            <h2>Consultas</h2>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">CUI</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Medico Ref</th>
                    <th scope="col">Ref. Pago</th>
                    <th scope="col">Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   
                    <td>45646548734-7</td>
                    <td>14/01/2021</td>
                    <td>Juan Diaz</td>
                    <td>564687</td>
                    <td>564687</td>
                    <td>
                        <a href="#" class="btn btn-success">Analizar</a>
                        <a href="#" class="btn btn-primary">Resultados</a>
                    </td>
                  </tr>
                  <tr>
                    
                    <td>32154645461-2</td>
                    <td>14/01/2021</td>
                    <td>Rodrigo Leiva</td>
                    <td>465464</td>
                    <td>564687</td>
                    <td>
                        <a href="#" class="btn btn-success">Analizar</a>
                        <a href="#" class="btn btn-primary">Resultados</a>
                    </td>
                  </tr>
                  <tr>
                    
                    <td>351456465465-1</td>
                    <td>14/01/2021</td> 
                    <td>Oscar Santis</td>  
                    <td>Efectivo</td> 
                    <td>564687</td>
                    <td>
                        <a href="#" class="btn btn-success">Analizar</a>
                        <a href="#" class="btn btn-primary">Resultados</a>
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
        </div>
    
    
    <%-include('../footerGeneral');%>
</body>

</html>