<!doctype html>

<html lang="es">

    <%-include('../headerGeneral');%> 

<body>
    <%-include('../menus/MenuAdministracion');%>
    <div class="container-fluid">
        <form>
            <h1>Editar Tipo de Examen</h1>
            <div class="mb-3">
                <label for="sampleType" class=f orm-label>Nombre para tipo de examen:</label>
                <input type="number" class="form-control" id="sampleType" placeholder="Ingrese nombre del nuevo tipo de examen" required>
            </div>
            <div class="mb-3">
                <label for="sampleTypeUnit" class="form-label">Precio por examen:</label>
                <input type="number" class="form-control" id="sampleTypeUnit" placeholder="Ingrese el precio del examen" required>
            </div>
            <div class="mb-3">
                <label for="testTypeStatus" class="form-label">Estado del tipo de examen:</label>
                <input class="form-control" list="datalistOptions" id="testTypeStatus" placeholder="Seleccione estado del examen" required>
                <datalist id="datalistOptions">
                    <option value="Habilitado">
                    <option value="Deshabilitado">
                  </datalist>
            </div>
            <button type="submit" class="btn btn-primary">Registrar</button>
        </form>
    </div>
    <%-include('../footerGeneral');%>
</body>

</html>