<!DOCTYPE html>
<html lang="es">
    <%-include('../headerGeneral');%>
<body>
    <%-include('../menus/MenuAdministracion');%>
    <h1>Inicio Administrador</h1>
    <%-include('../footerGeneral');%>
</body>
</html>

