<!DOCTYPE html>
<html lang="es">
    <%-include('../headerGeneral');%>
<body>
    <%-include('../menus/MenuLaborotorista');%>
    <h1>Inicio Laboratorista</h1>
    <%-include('../footerGeneral');%>
</body>
</html>